
config SHIELD_ZETOR_LEFT
    def_bool $(shields_list_contains,zetor_left)

config SHIELD_ZETOR_RIGHT
    def_bool $(shields_list_contains,zetor_right)

config SHIELD_ZETOR_DONGLE
    def_bool $(shields_list_contains,zetor_dongle)