#include <dt-bindings/zmk/matrix-transform.h>
#include <physical_layouts.dtsi>

/ {
    chosen {
        zmk,kscan = <&kscan0>;
        zmk,matrix_transform = <&matrix_transform0>;
    };

    /* -------------------------------------------------
     *  KSCAN (rows / columns)
     * ------------------------------------------------- */
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";

        diode-direction = <col2row>;

        row-gpios =
            <&pro_micro 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
            <&pro_micro 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
            <&pro_micro 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
            <&pro_micro 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
            <&pro_micro 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
            <&pro_micro 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
            <&pro_micro  6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
            <&pro_micro  5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;

        col-gpios =
            <&pro_micro 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,
            <&pro_micro 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,
            <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,
            <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,
            <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,
            <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,
            <&pro_micro 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,
            <&pro_micro 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
    };

    /* -------------------------------------------------
     *  LEFT-HALF physical layout (as you supplied)
     * ------------------------------------------------- */
    physical_layout0: myshield_left {
        compatible = "zmk,physical-layout";
        display-name = "Left Half";
        kscan = <&kscan0>;
        transform = <&matrix_transform0>;

        keys // w h x y rot rx ry
            = <&key_physical_attrs 100 100  25   0 0 0 0>
            , <&key_physical_attrs 100 100 325  25 0 0 0>
            , <&key_physical_attrs 100 100 225  75 0 0 0>
            , <&key_physical_attrs 100 100 425  75 0 0 0>
            , <&key_physical_attrs 100 100  25 100 0 0 0>
            , <&key_physical_attrs 100 100 125 100 0 0 0>
            , <&key_physical_attrs 100 100 525 100 0 0 0>
            , <&key_physical_attrs 100 100 325 125 0 0 0>
            , <&key_physical_attrs 100 100 225 175 0 0 0>
            , <&key_physical_attrs 100 100 425 175 0 0 0>
            , <&key_physical_attrs 125 100   0 200 0 0 0>
            , <&key_physical_attrs 100 100 125 200 0 0 0>
            , <&key_physical_attrs 100 100 525 200 0 0 0>
            , <&key_physical_attrs 100 100 325 225 0 0 0>
            , <&key_physical_attrs 100 100 225 275 0 0 0>
            , <&key_physical_attrs 100 100 425 275 0 0 0>
            , <&key_physical_attrs 125 100   0 300 0 0 0>
            , <&key_physical_attrs 100 100 125 300 0 0 0>
            , <&key_physical_attrs 100 100 525 300 0 0 0>
            , <&key_physical_attrs 100 100 325 325 0 0 0>
            , <&key_physical_attrs 100 100 225 375 0 0 0>
            , <&key_physical_attrs 100 100 425 375 0 0 0>
            , <&key_physical_attrs 125 100   0 400 0 0 0>
            , <&key_physical_attrs 100 100 125 400 0 0 0>
            , <&key_physical_attrs 100 100 525 400 0 0 0>
            , <&key_physical_attrs 100 100 225 475 0 0 0>
            , <&key_physical_attrs 100 100 325 475 0 0 0>
            , <&key_physical_attrs 125 100   0 500 0 0 0>
            , <&key_physical_attrs 100 100 125 500 0 0 0>
            , <&key_physical_attrs 100 125 800 125 3000 0 0>
            , <&key_physical_attrs 100 125 900 125 3000 0 0>;
    };

    /* -------------------------------------------------
     *  RIGHT-HALF – mirrored automatically
     * ------------------------------------------------- */
    physical_layout1: myshield_right {
        compatible = "zmk,physical-layout";
        display-name = "Right Half";
        kscan = <&kscan0>;
        transform = <&matrix_transform_mirror>;
    };

    /* -------------------------------------------------
     *  Split configuration
     * ------------------------------------------------- */
    split {
        compatible = "zmk,split";
        central = <&physical_layout0>;
        peripheral = <&physical_layout1>;
    };
};
