#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Default (QWERTY)";

            bindings = <
                &kp Q    &kp W    &kp E    &kp R    &kp T
                &kp Y    &kp U    &kp I    &kp O    &kp P
                &kp A    &kp S    &kp D    &kp F    &kp G
                &kp H    &kp J    &kp K    &kp L    &kp SEMI
                &kp Z    &kp X    &kp C    &kp V    &kp B
                &kp N    &kp M    &kp COMMA &kp DOT  &kp SLASH

                // Thumb cluster (left half)
                &kp ESC  &kp TAB  &kp LGUI &kp LALT &kp BSPC
                &kp ENTER &kp SPACE &kp LCTRL &kp RALT &kp RGUI

                // Thumb cluster (right half – mirrored)
                &kp ESC  &kp TAB  &kp RGUI &kp RALT &kp BSPC
                &kp ENTER &kp SPACE &kp RCTRL &kp LALT &kp LGUI
            >;
        };
    };
};
